<section data-bs-version="5.1" class="header2 cid-tzVgfOnXBf mbr-parallax-background" id="header2-0">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="mbr-section-btn align-right ">
            <h2> Campo aqui </h2>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1"><strong>Blog do Isaias Félix</strong></h1>
            </div>
            <div class="col-12 col-lg-2">
            </div>
        </div>
    </div>
</section>